Question1.

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

---------------

ANSWER

In [3]:
def is_symmetrical(num):
    rev_num = str(num)[::-1]
    if str(num) == rev_num:
        return True
    return False

In [4]:
is_symmetrical(7227)

True

In [5]:
is_symmetrical(12567)

False

In [6]:
is_symmetrical(44444444)

True

In [7]:
is_symmetrical(9939)

False

Question2.

Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums('2, 3') ➞ 6
multiply_nums('1, 2, 3, 4') ➞ 24
multiply_nums('54, 75, 453, 0') ➞ 0
multiply_nums('10, -2') ➞ -20

---------------

ANSWER

In [26]:
def multiply_nums(a):
    nums = [int(i) for i in a.split(',')]
    prod=1
    for i in nums:
        prod = prod*i
    return prod

In [27]:
multiply_nums('2, 3')

6

In [28]:
multiply_nums('1, 2, 3, 4')

24

In [29]:
multiply_nums('54, 75, 453, 0')

0

In [30]:
multiply_nums('10, -2')

-20

Question 3:

Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

----------------------

ANSWER

In [60]:
def square_digits(a):
    result = ''.join(str(int(i)**2) for i in str(a))
    return int(result)

In [61]:
square_digits(9119)

811181

In [62]:
square_digits(2483)

416649

In [63]:
square_digits(3212)

9414

Question 4:

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

----------------------

ANSWER

In [71]:
def setify(lst):
    newset = sorted(set(_ for _ in lst))
    return newset

In [72]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [73]:
setify([4, 4, 4, 4])

[4]

In [74]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [75]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5:

Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

---------------

ANSWER

In [80]:
def mean(num):
    lst = [int(i) for i in str(num)]
    return int(sum(lst)/len(lst))

In [81]:
mean(666)

6

In [82]:
mean(42)

3

In [83]:
mean(12345)

3